<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Registration date:</strong>
    <%= client.registration_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= client.address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= client.city %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= client.state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cnpj cpf:</strong>
    <%= client.cnpj_cpf %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= client.phone %>
  </p>
</div>
