<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= product.id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Prague:</strong>
    <%= product.prague_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Culture:</strong>
    <%= product.culture_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Disease:</strong>
    <%= product.disease_id %>
  </p>
</div>
